/* Total column count */
/* The gap width */
/* The cols' type count */
.power-grid {
  position: relative;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
.power-grid:before,
.power-grid:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.pg-row {
  margin: 10px -10px;
  position: relative;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
.pg-row:before,
.pg-row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.pg-col-s1-12 {
  width: 100%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-11 {
  width: 91.66666666666666%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-10 {
  width: 83.33333333333334%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-9 {
  width: 75%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-8 {
  width: 66.66666666666666%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-7 {
  width: 58.333333333333336%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-6 {
  width: 50%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-5 {
  width: 41.66666666666667%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-4 {
  width: 33.33333333333333%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-3 {
  width: 25%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-2 {
  width: 16.666666666666664%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-col-s1-1 {
  width: 8.333333333333332%;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-off-s1-l12 {
  left: 100%;
}
.pg-off-s1-l11 {
  left: 91.66666666666666%;
}
.pg-off-s1-l10 {
  left: 83.33333333333334%;
}
.pg-off-s1-l9 {
  left: 75%;
}
.pg-off-s1-l8 {
  left: 66.66666666666666%;
}
.pg-off-s1-l7 {
  left: 58.333333333333336%;
}
.pg-off-s1-l6 {
  left: 50%;
}
.pg-off-s1-l5 {
  left: 41.66666666666667%;
}
.pg-off-s1-l4 {
  left: 33.33333333333333%;
}
.pg-off-s1-l3 {
  left: 25%;
}
.pg-off-s1-l2 {
  left: 16.666666666666664%;
}
.pg-off-s1-l1 {
  left: 8.333333333333332%;
}
.pg-off-s1-r12 {
  right: 100%;
}
.pg-off-s1-r11 {
  right: 91.66666666666666%;
}
.pg-off-s1-r10 {
  right: 83.33333333333334%;
}
.pg-off-s1-r9 {
  right: 75%;
}
.pg-off-s1-r8 {
  right: 66.66666666666666%;
}
.pg-off-s1-r7 {
  right: 58.333333333333336%;
}
.pg-off-s1-r6 {
  right: 50%;
}
.pg-off-s1-r5 {
  right: 41.66666666666667%;
}
.pg-off-s1-r4 {
  right: 33.33333333333333%;
}
.pg-off-s1-r3 {
  right: 25%;
}
.pg-off-s1-r2 {
  right: 16.666666666666664%;
}
.pg-off-s1-r1 {
  right: 8.333333333333332%;
}
.pg-col-inner {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  position: relative;
  display: block;
  overflow: hidden;
}
/* Make columes */
/* Make offsets */
body {
  font-family: "宋体", arial;
}
/*
.pg-row {
	border-top:1px solid red;
	border-bottom:1px solid red;
}
*/
.pg-col-inner {
  min-height: 100px;
  height: 100%;
  /*
	border-top:1px solid blue;
	border-bottom:1px solid blue;
*/
}
p {
  width: 100%;
  background-color: green;
}
