.pg-grid {
  position: relative;
  display: block;
  overflow: hidden;
}
.pg-grid-resp {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  overflow: hidden;
}
@media (min-width: 0px) {
  .pg-grid-resp {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .pg-grid-resp {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .pg-grid-resp {
    width: 992px;
  }
}
.pg-row {
  margin: 0 -10px;
  position: relative;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
.pg-row:before,
.pg-row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
  line-height: 0;
}
@media (min-width: 0px) {
  .pg-col-s1-12 {
    width: 100%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-11 {
    width: 91.66666666666666%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-10 {
    width: 83.33333333333334%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-9 {
    width: 75%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-8 {
    width: 66.66666666666666%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-7 {
    width: 58.333333333333336%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-6 {
    width: 50%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-5 {
    width: 41.66666666666667%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-4 {
    width: 33.33333333333333%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-3 {
    width: 25%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-2 {
    width: 16.666666666666664%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s1-1 {
    width: 8.333333333333332%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-off-s1-12 {
    margin-left: 100%;
  }
  .pg-off-s1-11 {
    margin-left: 91.66666666666666%;
  }
  .pg-off-s1-10 {
    margin-left: 83.33333333333334%;
  }
  .pg-off-s1-9 {
    margin-left: 75%;
  }
  .pg-off-s1-8 {
    margin-left: 66.66666666666666%;
  }
  .pg-off-s1-7 {
    margin-left: 58.333333333333336%;
  }
  .pg-off-s1-6 {
    margin-left: 50%;
  }
  .pg-off-s1-5 {
    margin-left: 41.66666666666667%;
  }
  .pg-off-s1-4 {
    margin-left: 33.33333333333333%;
  }
  .pg-off-s1-3 {
    margin-left: 25%;
  }
  .pg-off-s1-2 {
    margin-left: 16.666666666666664%;
  }
  .pg-off-s1-1 {
    margin-left: 8.333333333333332%;
  }
  .pg-show-s1 {
    display: block;
  }
  .pg-hide-s1 {
    display: none;
  }
}
@media (min-width: 768px) {
  .pg-col-s2-12 {
    width: 100%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-11 {
    width: 91.66666666666666%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-10 {
    width: 83.33333333333334%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-9 {
    width: 75%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-8 {
    width: 66.66666666666666%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-7 {
    width: 58.333333333333336%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-6 {
    width: 50%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-5 {
    width: 41.66666666666667%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-4 {
    width: 33.33333333333333%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-3 {
    width: 25%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-2 {
    width: 16.666666666666664%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s2-1 {
    width: 8.333333333333332%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-off-s2-12 {
    margin-left: 100%;
  }
  .pg-off-s2-11 {
    margin-left: 91.66666666666666%;
  }
  .pg-off-s2-10 {
    margin-left: 83.33333333333334%;
  }
  .pg-off-s2-9 {
    margin-left: 75%;
  }
  .pg-off-s2-8 {
    margin-left: 66.66666666666666%;
  }
  .pg-off-s2-7 {
    margin-left: 58.333333333333336%;
  }
  .pg-off-s2-6 {
    margin-left: 50%;
  }
  .pg-off-s2-5 {
    margin-left: 41.66666666666667%;
  }
  .pg-off-s2-4 {
    margin-left: 33.33333333333333%;
  }
  .pg-off-s2-3 {
    margin-left: 25%;
  }
  .pg-off-s2-2 {
    margin-left: 16.666666666666664%;
  }
  .pg-off-s2-1 {
    margin-left: 8.333333333333332%;
  }
  .pg-show-s2 {
    display: block;
  }
  .pg-hide-s2 {
    display: none;
  }
}
@media (min-width: 992px) {
  .pg-col-s3-12 {
    width: 100%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-11 {
    width: 91.66666666666666%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-10 {
    width: 83.33333333333334%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-9 {
    width: 75%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-8 {
    width: 66.66666666666666%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-7 {
    width: 58.333333333333336%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-6 {
    width: 50%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-5 {
    width: 41.66666666666667%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-4 {
    width: 33.33333333333333%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-3 {
    width: 25%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-2 {
    width: 16.666666666666664%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-col-s3-1 {
    width: 8.333333333333332%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .pg-off-s3-12 {
    margin-left: 100%;
  }
  .pg-off-s3-11 {
    margin-left: 91.66666666666666%;
  }
  .pg-off-s3-10 {
    margin-left: 83.33333333333334%;
  }
  .pg-off-s3-9 {
    margin-left: 75%;
  }
  .pg-off-s3-8 {
    margin-left: 66.66666666666666%;
  }
  .pg-off-s3-7 {
    margin-left: 58.333333333333336%;
  }
  .pg-off-s3-6 {
    margin-left: 50%;
  }
  .pg-off-s3-5 {
    margin-left: 41.66666666666667%;
  }
  .pg-off-s3-4 {
    margin-left: 33.33333333333333%;
  }
  .pg-off-s3-3 {
    margin-left: 25%;
  }
  .pg-off-s3-2 {
    margin-left: 16.666666666666664%;
  }
  .pg-off-s3-1 {
    margin-left: 8.333333333333332%;
  }
  .pg-show-s3 {
    display: block;
  }
  .pg-hide-s3 {
    display: none;
  }
}
.pg-col-inner {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: block;
  overflow: hidden;
}
